#top-post {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
#top-post img {
  width: 100%;
}

#sub-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 10px 20px;
}
#sub-posts img {
  min-width: 100px;
  max-width: 200px;
  width: 100%;
}
#sub-posts .sub-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#side-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.side-new {
  overflow: hidden;
}
.side-new .topic {
  background-color: aquamarine;
  margin: 0;
  color: white;
  text-align: center;
  font-size: larger;
  padding: 10px;
  font-weight: bold;
}
.side-new .first-in-topic {
  font-weight: bold;
}
.side-new img {
  width: 100%;
}
.side-new hr {
  margin: 5px 0;
}
.side-new p {
  overflow: hidden;
  text-overflow: ellipsis;
}

section {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}
section .ads-wrapper {
  position: sticky;
  top: 60px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
section .sub-topic-devider {
  transform: translateY(-10%);
}
section .topic-main {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 10px 0;
}
section .topic-main img {
  margin-bottom: 1rem;
}
section .topic-main h6,
section .topic-main p,
section .topic-main div {
  margin: 0;
}
section .topic-main .summary {
  font-size: small;
  color: gray;
}
section .topic-main .other-links {
  display: flex;
  background: rgb(235, 234, 234);
  flex-flow: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid gray;
}
section .topic-main .other-links ul {
  padding: 0 30px;
}
section .topic-main .other-links .devider {
  border-top: 1px solid gray;
  margin: 5px 10px;
  transform: translate(-5%);
}
section .topic-main .other-links a {
  color: black;
  text-decoration: none;
}
section .topic-main .other-links a:hover {
  text-decoration: underline;
}
section .topic-main .other-links li::marker {
  color: gray;
}
section .topic-subs {
  display: flex;
  flex-direction: column;
}
section .topic-subs .topic-sub {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
}
section .topic-subs .topic-sub:last-child {
  border: none;
}
section .topic-subs .topic-sub img {
  width: 100px;
}
section .topic-subs .topic-sub p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section .topic-subs .topic-sub p:hover {
  text-decoration: underline;
  color: burlywood;
  cursor: pointer;
}
#toTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.367);
  color: gray;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 0, 0, 0.497);
}

#toTop:hover {
  background-color: #555;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.middle-section {
  display: flex;
  flex-flow: row;
}
.middle-section .topics {
  width: 75%;
}
.middle-section .sideads {
  width: 25%;
}

@media (max-width: 1200px) {
  section {
    flex-flow: column;
  }
  .top-section {
    grid-template-columns: 1fr;
  }
  .top-section .sub-post img {
    max-width: -moz-max-content !important;
    max-width: max-content !important;
  }
}
@media (max-width: 768px) {
  .sideads {
    display: none;
  }
}
@media (max-width: 576px) {
  #side-news {
    grid-template-columns: 1fr !important;
  }
  .topic-news {
    flex-flow: column !important;
    gap: 1rem;
  }
  .topic-main,
  .topic-subs {
    width: 100% !important;
  }
}/*# sourceMappingURL=content.css.map */