#top-post {
  display: flex;
  flex-flow: column;
  gap: 10px;
  img {
    width: 100%;
  }
}
#sub-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(min(100px, 200px), 1fr));
  gap: 10px 20px;
  img {
    min-width: 100px;
    max-width: 200px;
    width: 100%;
  }
  .sub-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
#side-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.side-new {
  overflow: hidden;
  .topic {
    background-color: aquamarine;
    margin: 0;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
    font-weight: bold;
  }
  .first-in-topic {
    font-weight: bold;
  }
  img {
    width: 100%;
  }
  hr {
    margin: 5px 0;
  }
  p {
    // margin-bottom: 5px;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
  }
}

section {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  .ads-wrapper {
    position: sticky;
    top: 60px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }
  position: relative;
  .sub-topic-devider {
    transform: translateY(-10%);
  }
  .topic-main {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    padding: 10px 0;
    img {
      margin-bottom: 1rem;
    }
    h6,
    p,
    div {
      margin: 0;
    }
    .summary {
      font-size: small;
      color: gray;
    }
    .other-links {
      display: flex;
      background: rgb(235, 234, 234);
      flex-flow: column;
      justify-content: space-between;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid gray;
      ul {
        padding: 0 30px;
      }
      .devider {
        border-top: 1px solid gray;
        margin: 5px 10px;
        transform: translate(-5%);
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      li::marker {
        color: gray;
      }
    }
  }
  .topic-subs {
    display: flex;
    flex-direction: column;

    .topic-sub {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.377);
      &:last-child {
        border: none;
      }
      img {
        width: 100px;
      }
      p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          text-decoration: underline;
          color: burlywood;
          cursor: pointer;
        }
      }
    }
  }
  .ad {
  }
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.middle-section {
  display: flex;
  flex-flow: row;
  .topics {
    width: 75%;
  }
  .sideads {
    width: 25%;
  }
}
@media (max-width: 1200px) {
  section {
    flex-flow: column;
  }
  .top-section {
    grid-template-columns: 1fr;
    .sub-post {
      img {
        max-width: max-content !important;
      }
    }
  }
}
@media (max-width: 768px) {
  .sideads {
    display: none;
  }
}

@media (max-width: 576px) {
  #side-news {
    grid-template-columns: 1fr !important;
  }
  .topic-news {
    flex-flow: column !important;
    gap: 1rem;
  }
  .topic-main,
  .topic-subs {
    width: 100% !important;
  }
}
