#top-post {
  display: flex;
  flex-flow: column;
  gap: 10px;
  img {
    width: 100%;
  }
}
#sub-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(min(100px, 200px), 1fr));
  gap: 10px 20px;
  img {
    min-width: 100px;
    max-width: 200px;
    width: 100%;
  }
  .sub-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.side-new {
  width: 50%;
  overflow: hidden;
  .topic {
    background-color: aquamarine;
    margin: 0;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
    font-weight: bold;
  }
  .first-in-topic {
    font-weight: bold;
  }
  img {
    width: 100%;
  }
  hr {
    margin: 5px 0;
  }
  p {
    // margin-bottom: 5px;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
  }
}

section {
  .ads-wrapper {
    position: sticky;
    top: 60px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }
  position: relative;
  .sub-topic-devider {
    transform: translateY(-10%);
  }
  .topic-main {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    padding: 10px 0;
    img {
      margin-bottom: 1rem;
    }
    h6,
    p,
    div {
      margin: 0;
    }
    .summary {
      font-size: small;
      color: gray;
    }
    .other-links {
      display: flex;
      background: rgb(235, 234, 234);
      flex-flow: column;
      justify-content: space-between;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid gray;
      ul {
        padding: 0 30px;
      }
      .devider {
        border-top: 1px solid gray;
        margin: 5px 10px;
        transform: translate(-5%);
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      li::marker {
        color: gray;
      }
    }
  }
  .topic-subs {
    display: flex;
    flex-direction: column;

    .topic-sub {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.377);
      &:last-child {
        border: none;
      }
      img {
        width: 100px;
      }
      p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          text-decoration: underline;
          color: burlywood;
          cursor: pointer;
        }
      }
    }
  }
  .ad {
  }
}

#toTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.367);
  color: gray;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 0, 0, 0.497);
}

#toTop:hover {
  background-color: #555;
}
