footer {
  .company {
    display: flex;
    padding: 30px 150px;
    font-size: 0.9rem;
    color: white;
    background-color: hsl(345, 6%, 13%);
    opacity: 0.9;
    img {
      padding: 50px;
      border-right: 1px solid rgba(128, 128, 128, 0.181);
    }
    p {
      padding: 0 50px;
      font-style: italic;
      font-size: smaller;
      display: inline-block;
      color: #c5c5c5;
    }
  }
  .copyright {
    margin: 20px 150px;
    font-size: 0.8rem;
    color: #666;
  }
}

@media (max-width: 900px) {
  footer {
    .company {
      flex-direction: column;
      padding: 30px 50px;
      img {
        padding: 20px;
        border-right: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.181);
      }
      p {
        padding: 20px 0;
      }
    }
    .copyright {
      margin: 20px 50px;
    }
  }
}
