header {
  width: 100%;

  .wraper {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 50px;
  }

  .navbar-wraper {
    display: flex;
    background-color: #231f20;
    width: 100%;
    border-top: 4px solid #b1141b;
  }

  .navbar {
    font-weight: bold;
    font-size: 12px;

    .navbar-nav {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .nav-item {
      text-decoration: none;
      padding: 10px;
      height: 100%;

      &:hover {
        background-color: #b1141b;
      }
    }

    .nav-link {
      .icon {
        font-size: 15px;
        padding: 10px;
        color: white;
      }
    }

    .nav-title {
      color: white;
    }
  }
}

.sticky-nav {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tạo bóng cho navbar khi dính ở đầu trang */
  z-index: 1000; /* Đảm bảo navbar hiển thị trên các phần tử khác */
}

.dropdown-item {
  color: black !important;
  font-weight: 600;
  font-size: 12px;
}

.marquee {
  max-width: 1300px;
  margin: 10px auto;
  overflow-x: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;

  .cta {
    font-weight: 600;
    color: #bd2024;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    padding: 0 10px;
    background: white;
    text-decoration: underline;
  }
}

.marquee-content {
  display: flex;
  animation: marquee 40s linear infinite;

  &:hover {
    animation-play-state: paused; /* Tạm dừng animation khi hover */
  }
}

.marquee a {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 18px; /* Điều chỉnh kích thước chữ */
  padding: 0 25px;
  position: relative;
}

@keyframes marquee {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// @media (min-width: 1024px) {
//   .navbar {
//     padding-left: 100px;
//     padding-right: 100px;
//     background-color: #231f20;
//     border-top: 4px solid #b1141b;
//     font-weight: bold;
//     font-size: 12px;
//     .navbar-nav {
//       display: flex;
//       justify-content: start;
//       align-items: center;
//       flex-grow: 1;
//     }
//     .navbar-brand {
//       font-size: 12px;
//       margin: 0;
//       text-decoration: none;
//     }
//     li {
//       &:hover {
//         background-color: #b1141b;
//         a {
//           color: white;
//         }
//       }
//     }
//   }
// }
